<div nz-row class="container">
    <div nz-col nzSpan="24">
        <div nz-row>
            <div nz-col nzXl="14" nzLg="14" nzMd="24" nzSm="0" nzXs="14">
                <ul>
                    <li>Влажность: 26%</li>
                    <li>Ветер: ВСВ, 2,9/с</li>
                    <li>Давление: 768 мм рт. ст.</li>
                </ul>
            </div>
            <div nz-col nzXl="10" nzLg="10" nzMd="0" nzSm="0" nzXs="10">
                <ul>
                    <li>Луна: Молодая Луна</li>
                    <li>Восход: 07:24</li>
                    <li>Закат: 17:49</li>
                </ul>
            </div>
            <div nz-col nzXl="0" nzLg="0" nzMd="0" nzSm="24" nzXs="0">
                <div nz-row [nzGutter]="60">
                    <div nz-col>
                        <ul>
                            <li>Влажность: 26%</li>
                            <li>Ветер: ВСВ, 2,9/с</li>
                        </ul>
                    </div>
                    <div nz-col>
                        <ul>
                            <li>Луна: Молодая Луна</li>
                            <li>Давление: 768 мм рт. ст.</li>
                        </ul>
                    </div>
                    <div nz-col>
                        <ul>
                            <li>Закат: 17:49</li>
                            <li>Восход: 07:24</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>